label {
    background-color: aqua;
}
.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form-row label {
    width: 100px;
    display: inline-block;
}

.form-row input {
    flex: 1;
    padding: 4px 6px;
}

.error {
    color: red;
    margin-left: 10px;
    font-size: 0.9em;
}