<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/estilo.css}"
          type="text/css">
</head>
<body>
<!--/*@thymesVar id="userData" type="demoapp.controller.UserData"*/-->

<form th:action="@{/saludoform}" th:object="${userData}" method="post">

    <div class="form-row">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" th:field="*{nombre}" />

        <div class="error"
             th:if="${#fields.hasErrors('nombre')}"
             th:errors="*{nombre}">
        </div>
    </div>
    <div class="form-row">
        <label for="edad">Edad:</label>
        <input type="number" id="edad" th:field="*{edad}" />

        <div class="error"
             th:if="${#fields.hasErrors('edad')}"
             th:errors="*{edad}">
        </div>
    </div>

    <div class="form-row">
        <button type="submit">Enviar</button>
    </div>
</form>
</body>
</html>